<div class="section">
  <div class="container">
    <div class="content">
      <h2 class="page-title">Authors</h2>

      {{#link-to "author.new" class="new-link"}}Add Author{{/link-to}}
    </div>

    <div class="author-list">
      {{#each model as |author|}}
        {{#unless author.isDeleted}}
          <div class="author-list__item">
            <div class="box">
              <p class="author-name">
                {{author.firstName}} {{author.lastName}}
                <button class="button is-danger delete" data-id="{{author.id}}" {{action "destroy" author}}></button>
              </p>
            </div>
          </div>
        {{/unless}}
      {{/each}}
    </div>
  </div>
</div>
