{{#link-to "author.index" class="back button"}}Back{{/link-to}}
{{#link-to "author.detail.add-book" class="new-book button"}}New Book{{/link-to}}

<div class="collection">
  <h2 class="title is-4">Books:</h2>
  {{#each model.works as |book|}}
    <div class="collection-item box">
      {{book.title}}
    </div>
  {{/each}}
</div>
