<div class="section">
  <div class="container">
    <h2 class="author-name title is-2">
      {{model.firstName}} {{model.lastName}}
    </h2>

    <div class="box is-outlet">
      {{outlet}}
    </div>
  </div>
</div>
