<div class="section">
  <div class="container">
    <div class="content">
      <h2 class="page-title">New Author</h2>
    </div>

    {{#simple-form onsubmit=(action "saveAuthor") as |formValues|}}
      <label class="label">First Name</label>
      <div class="control">
        {{input value=formValues.firstName type="text" class="input input-first-name" placeholder="First Name"}}
      </div>

      <label class="label">Last Name</label>
      <div class="control">
        {{input value=formValues.lastName type="text" class="input input-last-name" placeholder="Last Name"}}
      </div>

      <div class="control">
        <input type="submit" class="submit button is-primary" value="Save">
      </div>
    {{/simple-form}}
  </div>

</div>
